In [78]:
#Importing the required libraries
import pandas as pd

#Parsing HTML elements into a lis of data frames
df = pd.read_html("https://en.wikipedia.org/wiki/List_of_cities_by_average_temperature")

#Concatenating all datafrmaes into a single one
full_df = pd.concat([df[0], df[1], df[2], df[3], df[4], df[5]])
#Calling a function
full_df

,Country,City,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year,Ref.
0,Algeria,Algiers,11.2(52.2),11.9(53.4),12.8(55.0),14.7(58.5),17.7(63.9),21.3(70.3),24.6(76.3),25.2(77.4),23.2(73.8),19.4(66.9),15.2(59.4),12.1(53.8),17.4(63.3),[1]
1,Algeria,Tamanrasset,12.8(55.0),15.0(59.0),18.1(64.6),22.2(72.0),26.1(79.0),28.9(84.0),28.7(83.7),28.2(82.8),26.5(79.7),22.4(72.3),17.3(63.1),13.9(57.0),21.7(71.1),[2]
2,Algeria,Reggane,16.0(60.8),18.2(64.8),23.1(73.6),27.9(82.2),32.2(90.0),36.4(97.5),39.8(103.6),38.4(101.1),35.5(95.9),29.2(84.6),22.0(71.6),17.8(64.0),28.3(82.9),[3]
3,Angola,Luanda,26.7(80.1),28.5(83.3),28.6(83.5),28.2(82.8),27.0(80.6),23.9(75.0),22.1(71.8),22.1(71.8),23.5(74.3),25.2(77.4),26.7(80.1),26.9(80.4),25.8(78.4),[4]
4,Benin,Cotonou,27.3(81.1),28.5(83.3),28.9(84.0),28.6(83.5),27.8(82.0),26.5(79.7),25.8(78.4),25.6(78.1),26.0(78.8),26.7(80.1),27.6(81.7),27.3(81.1),27.2(81.0),[5]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51,Peru,Lima,22.1(71.8),22.7(72.9),22.2(72.0),20.6(69.1),18.8(65.8),17.5(63.5),16.7(62.1),16.2(61.2),16.4(61.5),17.3(63.1),18.7(65.7),20.7(69.3),19.2(66.6),[382]
52,Peru,Piura,26.8(80.2),27.8(82.0),27.8(82.0),26.6(79.9),24.5(76.1),22.9(73.2),21.8(71.2),21.9(71.4),22.3(72.1),22.9(73.2),23.6(74.5),25.2(77.4),24.5(76.1),[383]
53,Suriname,Paramaribo,26.0(78.8),26.0(78.8),26.2(79.2),26.7(80.1),26.5(79.7),26.5(79.7),26.7(80.1),27.4(81.3),27.8(82.0),27.9(82.2),27.3(81.1),26.4(79.5),26.8(80.2),[384]
54,Uruguay,Montevideo,23.0(73.4),22.5(72.5),20.6(69.1),17.2(63.0),14.0(57.2),11.1(52.0),10.9(51.6),11.7(53.1),13.4(56.1),16.0(60.8),18.6(65.5),21.3(70.3),16.7(62.1),[385]
55,Venezuela,Caracas,20.2(68.4),20.8(69.4),21.7(71.1),22.7(72.9),23.2(73.8),22.6(72.7),22.2(72.0),22.3(72.1),22.7(72.9),22.4(72.3),22.0(71.6),20.7(69.3),22.0(71.6),[386]